[Unit]
Description=Job that runs the cam_collect_images process
#Documentation=man:foo(1)

[Service]
Type=simple
ExecStart=/usr/local/cam/bin/cam_collect_images

[Install]
WantedBy=multi-user.target
